# General
Port 1026

HostKey ~/.ssh/ssh_host_rsa_key

PidFile ~/.ssh/sshd.pid

# Logging
LogLevel INFO

# Authentication
AuthenticationMethods publickey,keyboard-interactive
MaxAuthTries 2
MaxSessions 1

# Configure first authentication phase
PubkeyAuthentication yes
AuthorizedKeysFile ~/.ssh/authorized_keys
# acomodate PAM for second authentication phase
# relevant pam modules used: 
# 	pam_exec with user script
# 	pam_google_authenticator
UsePAM yes
ChallengeResponseAuthentication yes

# Users related
AllowUsers user
