*
!.config/
!.config/**
.config/.*
.config/Code
.config/Microsoft
.config/Slack
.config/bash/stage.sh
.config/coc
.config/chromium
.config/containers
.config/gcloud
.config/gnome*
.config/gitlab
.config/github-copilot
.config/google-chrome
.config/ibus
.config/kicad
.config/libreoffice
.config/menus
.config/obs-studio
.config/teams
!tools/
!tools/**
!.gitignore
!.gdbinit*
!bashrc_local
!.inputrc
!.tmux.conf
!.xinitrc
__pycache__
*.pyc
*.pyo
.nfs*
