__pycache__/
*.py[cod]
*.so
.Python
env/
build/
dist/
lib/
lib64/
sdist/
*.egg
*.egg-info/
venv/
*~
eclipse-workspace/
*notes*
dwm/
ext/
read
slock/
src/
st/
steam/
storage
Desktop/
Downloads/
Music/
Videos/
VirtualBox VMs/
NoMachine/
.*
*test/
uned/
prj/
maps/
notes/
prefix/
lang/
dry/
