*
!.config/
.config/**
.config/.*
!.config/alacritty
!.config/albert
!.config/autostart
!.config/bash
!.config/bspwm
!.config/bugwarrior
!.config/conky
!.config/dunst
!.config/git/ignore
!.config/gammastep
!.config/helix
!.config/hypr
!.config/i3
!.config/kitty
!.config/lf
!.config/mako
!.config/mpd
!.config/nixpkgs
!.config/nvim
!.config/picom
!.config/polybar
!.config/ranger
!.config/rofi
!.config/sway
!.config/sxhkd
!.config/tilda
!.config/wal
!.config/waybar
!.config/wireshark
!.config/zellij
!.config/init*
!.config/starship.toml
!tools/
!tools/**
!.gitignore
!.gdbinit*
!bashrc_local
!.inputrc
!.tmux.conf
!.xinitrc
__pycache__
*.pyc
*.pyo
.nfs*
