#!/usr/bin/env bash
xmodmap ${HOME}/.Xmodmap
# socket activation would not allow to connect immediately
systemctl start --user pulseaudio
# my beautiful headphones
echo connect EB:06:EF:1D:A2:F5 | bluetoothctl
# forward blutooth headphone keys to dbus MPRIS interface
mpris-proxy &
# my beautiful monitor
xrandr --output HDMI1 --auto --left-of eDP1
# notification daemon
dunst &
# top bar
$HOME/dwm/dwmbar &
# system monitor
# conky -d
