@import url('/home/user/.cache/wal/colors-waybar.css');

* {
    border:        none;
    border-radius: 0;
    font-family:   monospace;
    font-size:     12px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color: @foreground;
    background: @background;
}

#workspaces {
    margin: 1px 1px 1px 1px;
    padding: 1px 5px;
    border-radius: 14px;
    border: 0px;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: @color15;
    background-color: @background;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

#mode, #battery, #cpu, #memory, #network {
    margin:     0px 6px 0px 10px;
    min-width:  25px;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
}

#battery.warning {
   color:  @color10;
}

#battery.critical {
    color: @color15;
}

#battery.charging {
    color: @color8;
}
